flows.json
[{"id":"578b3753.47c2f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c87d42d0.c80518","type":"inject","z":"578b3753.47c2f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["db96b11c.71cff8"]]},{"id":"e2c63c7e.4038b8","type":"debug","z":"578b3753.47c2f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"af147daf.cadb08","type":"http request","z":"578b3753.47c2f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://nexus-kg-2.eastus.cloudapp.azure.com/hello","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":300,"wires":[["e2c63c7e.4038b8"]]},{"id":"db96b11c.71cff8","type":"function","z":"578b3753.47c2f8","name":"","func":"for (i = 0; i < 1000; i++) { \n    msg.payload = i\n node.send([msg])\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":220,"wires":[["af147daf.cadb08","39f24e8.02b2832"]]},{"id":"39f24e8.02b2832","type":"debug","z":"578b3753.47c2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":220,"wires":[]},{"id":"ff46c1c7.dfec3","type":"inject","z":"578b3753.47c2f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":100,"wires":[["f09d943d.4b1c88"]]},{"id":"1146ffef.ac5aa","type":"debug","z":"578b3753.47c2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":100,"wires":[]},{"id":"f09d943d.4b1c88","type":"exec","z":"578b3753.47c2f8","command":"cat /data/testcsv.csv;","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":100,"wires":[["1146ffef.ac5aa"],["1146ffef.ac5aa"],["1146ffef.ac5aa"]]}]